<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular Data Binding</title>
    <style>
        .done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>

<body>

    <h2>Todo</h2>

    <div ng-app ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [<a href="" ng-click="archive()">archive</a>]

        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>

        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30" placeholder="Add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>

    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'></script>
    <script src="./script.js"></script>

</body>

</html>
